#chat {
    box-shadow: 3px 3px 8px #888888;
    border: 1px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: absolute;
    background: white;
    z-index: 1;
    top: 0;
    display: flex;
    flex-direction: column;
}
#chat-navigation {
    width: 100%;
    height: 26px;
    background-color: #015bee;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    display: flex;
    justify-content: flex-end;
}
.chat-btn {
    width: 20px;
    height: 20px;
    background-color: #2a80f8;
    color: white;
    text-align: center;
    margin-left: 2px;
    border: 1px solid white;
    padding: 1px;
    font-size: 14px;
    line-height: 14px;
}
.chat-main {
    display: flex;
    padding: 4px;
}
#left-chat-main {
    width: 100px;
    padding: 2px;
}
#right-chat-main {
    width: 500px;
}
#profiles {
    height: 174px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.chat-profile {
    width: 70px;
    height: 70px;
    margin: auto;
    border: 1px solid black;
}
#buddies {
    height: 200px;
}
#user-select {
    height: 100%;
}
#messages {
    overflow-y: scroll;
    overflow-wrap: break-word;
    height: 300px;
    padding: 4px;
    border: 1px solid black;
}
.me {
    color: blue;
    font-weight: 700;
}
.you {
    color: red;
    font-weight: 700;
}
#send {
    width: 100px;
    height: 50px;
    background-color: #015bee;
    color: white;
    border: none;
}
.chat-input-control {
    display: flex;
    box-sizing: border-box;
    margin: 2px 0;
}
.text-input {
    width: 400px;
    position: relative;
    margin-right: 2px;

    textarea {
        resize: none;
        height: 74px;
        width: 100%;
        box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.48);

        display: inline-block;
        box-sizing: border-box;
    }
}
.chat-buttons {
    display: flex;
    flex-direction: column;
}
