@import url(https://fonts.googleapis.com/css?family=Nunito);#chat {
  -webkit-box-shadow: 3px 3px 8px #888888;
          box-shadow: 3px 3px 8px #888888;
  border: 1px solid black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: absolute;
  background: white;
  z-index: 1;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#chat-navigation {
  width: 100%;
  height: 26px;
  background-color: #015bee;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.chat-btn {
  width: 20px;
  height: 20px;
  background-color: #2a80f8;
  color: white;
  text-align: center;
  margin-left: 2px;
  border: 1px solid white;
  padding: 1px;
  font-size: 14px;
  line-height: 14px;
}

.chat-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4px;
}

#left-chat-main {
  width: 100px;
  padding: 2px;
}

#right-chat-main {
  width: 500px;
}

#profiles {
  height: 174px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chat-profile {
  width: 70px;
  height: 70px;
  margin: auto;
  border: 1px solid black;
}

#buddies {
  height: 200px;
}

#user-select {
  height: 100%;
}

#messages {
  overflow-y: scroll;
  overflow-wrap: break-word;
  height: 300px;
  padding: 4px;
  border: 1px solid black;
}

.me {
  color: blue;
  font-weight: 700;
}

.you {
  color: red;
  font-weight: 700;
}

#send {
  width: 100px;
  height: 50px;
  background-color: #015bee;
  color: white;
  border: none;
}

.chat-input-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 2px 0;
}

.text-input {
  width: 400px;
  position: relative;
  margin-right: 2px;
}

.text-input textarea {
  resize: none;
  height: 74px;
  width: 100%;
  -webkit-box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.48);
          box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.48);
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.chat-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.side-menu {
  position: fixed;
  height: 100vh;
  width: 200px;
  background: white;
  overflow-y: scroll;
}

.side-menu aside {
  margin-left: 5px;
}

.menu-label {
  font-size: 20px;
  color: #353535;
}

.menu-list a {
  margin-left: 5px;
  color: black;
}

.menu-list a:hover {
  color: #31dfe2;
  text-decoration: none;
}

.table td {
  text-align: left;
}

.navbar-laravel {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.input-group {
  margin: 10px 0;
  border-bottom: 3px solid black;
}

.input-group > label {
  margin: 0;
}

.input-control {
  background: transparent;
  border: none;
  display: block;
  margin-left: 10px;
}

.input-control:focus {
  border: none;
  outline: none;
}

.form-group textarea {
  width: 100%;
}

#contact-form {
  font-size: 18px;
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */

.checkbox-container input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */

.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.textarea-control {
  height: 218px;
  resize: none;
}

.textarea-control:focus {
  outline: none;
}

