@import url(https://fonts.googleapis.com/css?family=Nunito);.side-menu {
  position: fixed;
  height: 100vh;
  width: 200px;
  background: white;
  overflow-y: scroll;
}

.side-menu aside {
  margin-left: 5px;
}

.menu-label {
  font-size: 20px;
  color: #353535;
}

.menu-list a {
  margin-left: 5px;
  color: black;
}

.menu-list a:hover {
  color: #31dfe2;
  text-decoration: none;
}

.table td {
  text-align: left;
}

.navbar-laravel {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.input-group {
  margin: 10px 0;
  border-bottom: 3px solid black;
}

.input-group > label {
  margin: 0;
}

.input-control {
  background: transparent;
  border: none;
  display: block;
  margin-left: 10px;
}

.input-control:focus {
  border: none;
  outline: none;
}

.form-group textarea {
  width: 100%;
}

#contact-form {
  font-size: 18px;
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */

.checkbox-container input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */

.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.textarea-control {
  height: 218px;
  resize: none;
}

.textarea-control:focus {
  outline: none;
}

