body {
    font-family: Arial, Helvetica, sans-serif;
}
.btn-h1-spacing {
    margin-top: 10px;
}
.row > .col-md-3 {
    border-right: 1px solid grey;
}
.dropdown-menu {
    min-width: 16rem;
}
.blog-post > h3 {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
th,
td {
    border-bottom: 1px solid #ddd;
    text-align: center;
}
table {
    width: 100%;
}
td:first-child,
th:first-child {
    text-align: left;
}
th {
    height: 50px;
}
