nav {
    font-family: "Open Sans", Arial, sans-serif;
}
body {
    font-family: Helvetica, Arial, sans-serif;
}
.btn-h1-spacing {
    margin-top: 10px;
}
/*.row > .col-md-3 {
    border-right: 1px solid grey;
} */
.dropdown-menu {
    min-width: 16rem;
}
.blog-post > h3 {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
th,
td {
    border-bottom: 1px solid #ddd;
    text-align: center;
}
table {
    width: 100%;
}
td:first-child,
th:first-child {
    text-align: left;
}
th {
    height: 50px;
}

.salmon {
    background: #a34f37;
    color: white;
}
ul,
ol {
    list-style: none;
    padding: 0;
    padding-inline-start: 0;
    counter-reset: my-awesome-counter;
}
li.comment {
    counter-increment: my-awesome-counter;
    margin-top: 1px;
    padding: 20px 10px;
}
li.comment::before {
    margin-right: 10px;
    display: inline-flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    background: lightblue;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    height: 30px;
    width: 30px;
    padding: 10px;
}
.portrait-wrapper {
    padding: 0;
}
.comment-text {
    background: white;
    font-size: 18px;
}
.comment-banner {
    background-image: linear-gradient(
        to right,
        rgba(200, 200, 200, 0.7),
        rgba(255, 255, 255, 0.9)
    );
    padding: 10px;
}
.username {
    font-size: 20px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.7);
}
.date-time-display {
    color: rgba(25, 25, 25, 0.8);
    text-align: right;
}
