body {
    font-family: Arial, Helvetica, sans-serif;
}
.btn-h1-spacing {
    margin-top: 10px;
}
.row > .col-md-3 {
    border-right: 1px solid grey;
}
.dropdown-menu {
    min-width: 16rem;
}
.blog-post > h3 {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
